<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather - {{ name }} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> 
</head>

  <body style="background-color: #212121">
    <div class="headers" style="margin: 5% auto">
      <h2 class="card-title" style="text-align: center; color: white"><strong style="color: aquamarine">{{ name }}, </strong>{{ region }}</h2>
    </div>


  <div class="card mb-3 mx-auto d-block" style="align-items: center; margin-top: 5% auto; background-color: #212121; max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{icon}} class="img-fluid rounded-start" style="height: 80%; width: 100%">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="color: white">
          <h3 class="card-title"><strong style="color: aquamarine">{{ text }}</strong></h3>
          <h3 class="card-title"><strong style="color: white">{{ temp_c }} °C</strong></h3>
          <p class="card-text">
            <h5><strong style="color: aquamarine">Wind</strong><i class="bi bi-arrow-right-short"></i><strong style="color: white">{{ wind_direction }} {{ wind_speed }} km/h</strong></h5>
            <h5><strong style="color: aquamarine">Humidity</strong><i class="bi bi-arrow-right-short"></i><strong style="color: white">{{ humidity }}%</strong></h5>
            <h5><strong style="color: aquamarine">Clouds</strong><i class="bi bi-arrow-right-short"></i><strong style="color: white">{{ clouds }}%</strong></h5>
            <h5><strong style="color: aquamarine">Visibility</strong><i class="bi bi-arrow-right-short"></i><strong style="color: white">{{ vis_km }} km</strong></h5>
          </p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

  </body>

</html>
